<div class="container main-container">
  <h4>Resgistrar <small>Materia</small></h4>
  <hr>
  <div>



      <div class="form-group row">
        <label class="col-2 col-form-label">Nombre Materia</label>
        <div class="col-8">

          <input class="form-control"
                 type="text"
                 placeholder="Nombre de la materia"
                 name="nombre "
                 [(ngModel)]="nombre">
        </div>
      </div>


    <div class="form-group row">
      <label class="col-2 col-form-label">Dia</label>
      <div class="col-8">
        <div class="col-12 col-sm-6">
          <select class="custom-select mb-2 mr-sm-2 mb-sm-0"
                  [(ngModel)]="dia" >
            <option selected [value]="Null">Seleccionar</option>
            <option value="Lunes">Lunes</option>
            <option value="Martes">Martes</option>
            <option value="Miercoles">Miercoles</option>
            <option value="Jueves">Jueves</option>
            <option value="Viernes">Viernes</option>
            <option value="Sabado">Sabado</option>
          </select>
        </div>
      </div>
    </div>


    <div class="form-group row">
      <label class="col-2 col-form-label">Hora Inicio</label>
      <div class="col-md-8">

        <input class="form-control"
               type="time"
               placeholder="Hora Inicio"
               [(ngModel)]="inicio"
        >
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Hora Final</label>
      <div class="col-md-8">

        <input class="form-control"
               type="time"
               placeholder="Hora Final"
               [(ngModel)]="final"
        >
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Docente</label>
      <div class="col-8">
        <div class="col-12 col-sm-6">
          <select class="custom-select mb-2 mr-sm-2 mb-sm-0"
                  [(ngModel)]="nomDoc" >
            <option selected [value]="nomDoc">Docentes</option>
            <option *ngFor="let cat of docentes | async"  [ngValue]="cat.Nombre">{{cat.Nombre}}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Laboratorio</label>
      <div class="col-8">
        <div class="col-12 col-sm-6">
          <select class="custom-select mb-2 mr-sm-2 mb-sm-0"
                  [(ngModel)]="nomLab" >
            <option selected [value]="Null">Seleccionar</option>
            <option value="ER103">ER103</option>
            <option value="ER104">ER104</option>
          </select>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">&nbsp;</label>
      <div class="input-group col-md-8">
        <button type="submit" class="btn btn-outline-primary" (click)="guardar()">
          Guardar
        </button>
      </div>
    </div>

  </div>
  </div>
