
<div class="container">
    <br>
    <br>
    <div class="row justify-content-center" align="center">
        
        <mat-card class="card1">        
            
            <div mat-card-avatar class="example-header-image">
              
            </div>  
            <img src="../../assets/escudounipamplona.png" height="200"  alt="">
            <!--img src="../../assets/eunipamplona.jpeg" height="200" alt=""-->
            <h1 class="ini"> UNIVERSIDAD DE PAMPLONA </h1>
              <br>
              <br>
            <h2 class="ini"> Inicio De Sección </h2>
              <br>
              <br>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">USUARIO:  </span>
                </div>
                <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" [(ngModel)]="email">
             
              </div>
              <br>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">CONTRASEÑA: </span>
                </div>
                <input type="password" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" [(ngModel)]="pass">
              </div>
              <div class="buton">
                <button type="submit" class="btn btn-primary" (click)="login()">Sign in</button>
              </div>
              
            <br>
           <br>
            <h3 class="ini"> CONTROL DE TIEMPO Y ASISTENCIA </h3>
            <h4 class="ini"> INGENERÍA ELECTRÓNICA </h4>
        </mat-card>
    </div>
  
  </div>