<div class="row">
  <div class="scrolh">
    <table class="table table-bordered">

        <thead>
        <tr>
          <th scope="col">HORA</th>
          <th scope="col">LUNES</th>
          <th scope="col">MARTES</th>
          <th scope="col">MIERCOLES</th>
          <th scope="col">JUEVES</th>
          <th scope="col">VIERNES</th>
          <th scope="col">SABADO</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">06:00 - 07:00</th>
          <td>{{lu6}}</td>
          <td>{{ma6}}</td>
          <td>{{mi6}}</td>
          <td>{{ju6}}</td>
          <td>{{vi6}}</td>
          <td>{{sa6}}</td>
        </tr>
        <tr>
          <th scope="row">07:00 - 08:00</th>
          <td>{{lu7}}</td>
          <td>{{ma7}}</td>
          <td>{{mi7}}</td>
          <td>{{ju7}}</td>
          <td>{{vi7}}</td>
          <td>{{sa7}}</td>
        </tr>
        <tr>
          <th scope="row">08:00 - 09:00</th>
          <td>{{lu8}}</td>
          <td>{{ma8}}</td>
          <td>{{mi8}}</td>
          <td>{{ju8}}</td>
          <td>{{vi8}}</td>
          <td>{{sa8}}</td>
        </tr>
        <tr>
          <th scope="row">09:00 - 10:00</th>
          <td>{{lu9}}</td>
          <td>{{ma9}}</td>
          <td>{{mi9}}</td>
          <td>{{ju9}}</td>
          <td>{{vi9}}</td>
          <td>{{sa9}}</td>
        </tr>
        <tr>
          <th scope="row">10:00 - 11:00</th>
          <td>{{lu10}}</td>
          <td>{{ma10}}</td>
          <td>{{mi10}}</td>
          <td>{{ju10}}</td>
          <td>{{vi10}}</td>
          <td>{{sa10}}</td>
        </tr>
        <tr>
          <th scope="row">11:00 - 12:00</th>
          <td>{{lu11}}</td>
          <td>{{ma11}}</td>
          <td>{{mi11}}</td>
          <td>{{ju11}}</td>
          <td>{{vi11}}</td>
          <td>{{sa11}}</td>
        </tr>
        <tr>
          <th scope="row">12:00 - 13:00</th>
          <td>{{lu12}}</td>
          <td>{{ma12}}</td>
          <td>{{mi12}}</td>
          <td>{{ju12}}</td>
          <td>{{vi12}}</td>
          <td>{{sa12}}</td>
        </tr>
        <tr>
          <th scope="row">13:00 - 14:00</th>
          <td>{{lu13}}</td>
          <td>{{ma13}}</td>
          <td>{{mi13}}</td>
          <td>{{ju13}}</td>
          <td>{{vi13}}</td>
          <td>{{sa13}}</td>
        </tr>
        <tr>
          <th scope="row">14:00 - 15:00</th>
          <td>{{lu14}}</td>
          <td>{{ma14}}</td>
          <td>{{mi14}}</td>
          <td>{{ju14}}</td>
          <td>{{vi14}}</td>
          <td>{{sa14}}</td>
        </tr>
        <tr>
          <th scope="row">15:00 - 16:00</th>
          <td>{{lu15}}</td>
          <td>{{ma15}}</td>
          <td>{{mi15}}</td>
          <td>{{ju15}}</td>
          <td>{{vi15}}</td>
          <td>{{sa15}}</td>
        </tr>
        <tr>
          <th scope="row">16:00 - 17:00</th>
          <td>{{lu16}}</td>
          <td>{{ma16}}</td>
          <td>{{mi16}}</td>
          <td>{{ju16}}</td>
          <td>{{vi16}}</td>
          <td>{{sa16}}</td>
        </tr>
        <tr>
          <th scope="row">17:00 - 18:00</th>
          <td>{{lu17}}</td>
          <td>{{ma17}}</td>
          <td>{{mi17}}</td>
          <td>{{ju17}}</td>
          <td>{{vi17}}</td>
          <td>{{sa17}}</td>
        </tr>
        <tr>
          <th scope="row">18:00 - 19:00</th>
          <td>{{lu18}}</td>
          <td>{{ma18}}</td>
          <td>{{mi18}}</td>
          <td>{{ju18}}</td>
          <td>{{vi18}}</td>
          <td>{{sa18}}</td>
        </tr>
        <tr>
          <th scope="row">19:00 - 20:00</th>
          <td>{{lu19}}</td>
          <td>{{ma19}}</td>
          <td>{{mi19}}</td>
          <td>{{ju19}}</td>
          <td>{{vi19}}</td>
          <td>{{sa19}}</td>
        </tr>
        <tr>
          <th scope="row">20:00 - 21:00</th>
          <td>{{lu20}}</td>
          <td>{{ma20}}</td>
          <td>{{mi20}}</td>
          <td>{{ju20}}</td>
          <td>{{vi20}}</td>
          <td>{{sa20}}</td>
        </tr>
        <tr>
          <th scope="row">21:00 - 22:00</th>
          <td>{{lu21}}</td>
          <td>{{ma21}}</td>
          <td>{{mi21}}</td>
          <td>{{ju21}}</td>
          <td>{{vi21}}</td>
          <td>{{sa21}}</td>
        </tr>
        </tbody>
    </table>
  </div>
</div>

